header {
  width: 100%;
  height: 90px;
  background-color: $white;
  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 70px;

    ul {
      display: flex;
      align-items: center;
      gap: 70px;

      li {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          font-family: "Ubuntu", sans-serif;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}
