.hero {
  height: 620px;
  background: linear-gradient(
    164deg,
    rgba(239, 225, 218, 0) 3.82%,
    #efe1da 90.95%
  );

  .container {
    display: flex;
    justify-content: space-between;
  }

  .left-hero {
    padding-top: 120px;
    flex: 1;
    max-width: 528px;

    h3 {
      color: $yellow;
      font-size: 3.2rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 37px;

      &::after {
        content: "";
        flex: 1;
        height: 2px;
        max-width: 290px;
        background: url(../img/line.svg) no-repeat center center;
        display: inline-block;
      }
    }
    .value {
      margin-top: 25px;
      display: flex;
      align-items: center;
      gap: 40px;
      position: relative;

      &:after {
        content: "";
        background: url(../img/arrow-btn.svg) no-repeat center center;
        width: 43px;
        height: 38px;
        position: absolute;
        right: -48px;
        top: 25px;
      }

      h2 {
        color: $yellow;
        font-size: 6.4rem;
        font-weight: 700;
        margin-bottom: 10px;
      }

      span {
        color: $brown;
        font-size: 1.4rem;
        font-weight: 700;
      }

      button {
        color: $white;
        background-color: $brown;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 20px 50px;
        border-radius: 8px;
      }
    }
  }

  .right-hero {
    flex: 1;
    max-width: 528px;
    height: 663px;
    background: $yellow;
    border-radius: 0 0 12px 12px;
    padding-top: 95px;
    padding-bottom: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .image {
      position: absolute;
      width: 684px;
      height: 492px;
      img {
        position: absolute;

        &.pepsi {
          left: 0px;
          top: 25px;
        }
        &.chips {
          right: 0px;
        }
        &.burger {
          bottom: 0px;
          left: 40px;
          z-index: 3;
        }
        &.logo-bk {
          right: 30px;
          bottom: 5px;
          z-index: 4;
        }
      }
    }

    .offer {
      display: flex;
      align-items: center;
      gap: 10px;

      &::before {
        content: "";
        width: 80px;
        height: 14px;
        background: url(../img/line-left.svg) no-repeat center center;
        display: inline-block;
      }

      &::after {
        content: "";
        width: 80px;
        height: 14px;
        background: url(../img/line-right.svg) no-repeat center center;
        display: inline-block;
      }

      p {
        color: $white;
        font-size: 1.5rem;

        strong {
          margin-left: 5px;
        }
      }
    }
  }
}
